
.body-container {
  display: flex;
  margin-top: 52px;
  flex-wrap: wrap;
}

.book-btn {
  padding: 16px 25px !important;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 21px;
}

.card-content button {
  background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  /* margin-right: 36px; */
}

.content-body {
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}
.button-container {
  display: flex;
  flex-direction: row;
}
.card-container button:first-child {
  margin-right: 36px;
}
.content-body p {
  text-align: left;
}

@media (max-width: 900px) {
  .explore-container {
    padding-left: 0px;
  }
  .heading {
    font-size: 52px;
  }

  .book-btn {
    margin-left: 15px;
  }
}
