@font-face {
  font-family: 'Exo 2 Bold';
  src: local('Exo 2 Bold'), url('./static/fonts/Exo2-Bold.ttf');
}
@font-face {
  font-family: 'Exo 2 Semi Bold';
  src: local('Exo 2 Semi Bold'), url('./static/fonts/Exo2-SemiBold.ttf');
}
@font-face {
  font-family: 'DS Bold';
  src: local('DS Bold'), url('./static/fonts/DancingScript-Bold.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url('./static/fonts/Ubuntu-Bold.ttf');
}
.App {
  text-align: center;
  font-family: Exo 2;
}

.main-container {
  display: flex;
  font-family: 'Exo 2 Bold';
  padding-left: 65px;
  flex-direction: column;
}
.heading {
  margin-top: 79px;
  font-size: 64px;
  text-align: left;
}
.sub-heading {
  font-family: 'Exo 2 Semi Bold';
  max-width: 300px;
  font-size: 18px;
  text-align: left;
}

.hero-vector {
  position: absolute;
  top: 660px;
  left: 0px;
  max-width: 100%;
}
@media (max-width: 900px) {
  .main-container{
    padding-left: 0px;
  }
  .explore-container {
    padding-left: 0px;
  }
  .heading {
    font-size: 52px;
  }
}
@media screen and (max-width: 600px) {

  .hero-vector {
    display: none;
  }
}