
.banner {
    max-width: 100vw;
    width: 100%;
    background: url('../../static/images/hero-image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
  }
  .banner-text {
    max-width: 795px;
    margin-top: 50px;
  }
  .banner p {
    color: #ffffff;
    font-size: 100px;
    font-family: 'Exo 2 Bold';
    margin: 0px;
    padding: 0px;
  }
  .banner-subtext {
    font-family: 'Ubuntu';
  }
  .banner-subtext p {
    font-size: 30px;
    color: #ffffff;
  }
  .hero-image {
    position: relative;
    z-index: -1;
  }
  .brand-logo {
    text-decoration: none;
  }
  .brand-logo p {
    font-family: 'DS Bold';
    font-size: 45px;
  }

  nav {
    width: 100vw;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 0;
  }
  .nav-links-container {
    list-style: none;
    display: flex;
  }
  .breadcrumb {
    display: block;
    min-width: 180px;
  }
  .menu-wrapper {
    display: flex;
    flex-direction: row;
  }
  .nav-link-responsive {
    display: block;
  }
  .search-bar-container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(
      94.43deg,
      rgba(249, 249, 249, 0.49) 34.95%,
      rgba(249, 249, 249, 0.175) 67.01%
    );
    backdrop-filter: blur(10px);
    border-radius: 30px;
    min-width: 940px;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 92px;
  }
  .input-container {
    background-color: #ffffff;
    border-radius: 16px;
    margin: 0px 12px;
  }
  .label-text {
    margin-bottom: 4px;
    display: flex;
    margin-top: 6px;
    margin-left: 16px;
    color: #6d6d6d;
    font-size: 16px;
  }
  .placeholder-text {
    margin-left: 16px;
    margin-bottom: 8px;
    margin-right: 9px;
    display: flex;
    font-size: 22px;
    min-width: 185px;
  }
  .down-arrow {
    margin-top: 31px;
  }
  
  .search-container button {
    background: linear-gradient(90deg, #ff594c 0%, #fac527 100%);
    border-radius: 16px;
    padding: 16px;
    padding-right: 52px;
    padding-left: 52px;
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 26px;
    border: none;
  }
  @media screen and (min-width: 600px) {
    .breadcrumb {
      display: none;
    }
    .nav-link-responsive {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .nav-links-container .nav-links {
      display: none;
    }
    .banner p {
      font-size: 52px;
    }
    .nav-links-container {
      flex-direction: column;
      margin: 0px;
    }
    .nav-wrapper {
      align-items: baseline;
    }
    .menu-wrapper {
      flex-direction: column;
    }
 
    .banner-subtext p {
      font-size: 20px;
      color: #ffffff;
    }
    .search-bar-container {
      flex-direction: column;
      min-width: 100px;
      margin: 17px;
      margin-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .input-container {
      margin-top: 7px;
    }
    .banner-text {
      margin-top: 78px;
    }
    .search-container button {
      margin-top: 7px;
    }
    .down-arrow {
      position: relative;
      top: -20px;
    }
  }
  @media (max-width:900px) {
    .search-bar-container {
      flex-direction: column;
      min-width: 300px;
      margin: 17px;
      margin-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .nav-links-container li {
    margin: 10px;
    font-family: 'Exo 2 Semi Bold';
    color: #ffffff;
  }
  .nav-links-container li:last-child {
    margin: 0px;
    margin-top: 5px;
  }
  .nav-links-container li button {
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 131px;
    background: none;
    color: #ffffff;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 13px;
    font-family: inherit;
  }
  .brand-logo p {
    font-size: 45px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }